@layout('layouts.main')

@section('title')
    home page
@endsection

@section('content')
    <!-- display all interships here -->
    @if(stages.length === 0)
        <h4>nothing found, try to add a stage</h4>
    @else
        @each(stage in stages)
            <div>
            <h3>{{ stage.entreprise }}</h3>
            <p>{{ stage.ecole }}</p>
            <p>{{ stage.ville }}</p>
            </div>
        @endeach
    @endif
@endsection